* {
    font-size: 16px;
    font-family: Cabin;
}
body,p,ul,li,label, h1, h2, h3, h4, h5, h6{
    font-family: Cabin;
    margin: 0;
    line-height: 1
}
.font-weight-500{font-weight: 500;}

.pagination {
    display: inline-flex;
}
.aveditor {
    min-height: 500px; 
    border: none!important;
}

.aveditor__toolbar .ck.ck-toolbar {
    border: none;
    padding: 10px;
}

.seo__preview { padding: 24px 0px; }
.seo__preview * { font-family: Arial;  }
.seo__preview a {
    display: block;
    margin-bottom: 8px;
}
.seo__preview a span {
    color: #3C4043;
    display: inline-block;
    margin-bottom: 8px;
}
.seo__preview a h3 {
    display: inline-block;
    color:rgb(26, 13, 171);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0px;
}
.sidebar {
    box-shadow: 7px 0 60px rgba(0, 0, 0, 0.05);
}
.sidebar .sidebar-link,
.sidebar .title{
    text-transform: capitalize;
}
.header.navbar {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}
.sidebar-logo,
.sidebar-menu {
    border: none;
}
.main-content{
    background-color: #f1f4f6!important;
}

.dataTables_length {
    margin-bottom: 16px;
}

.dataTables_length select {
    background-color: #fff;
    padding: 5px 10px;
}

.dataTables_filter { margin-bottom: 16px; }
.dataTables_filter input {
    padding: 5px 10px;
    border: 1px solid #dee2e6;
}
.dataTable thead th{
    border-bottom: 2px solid #dee2e6!important;
}
table.dataTable.no-footer {
    border-bottom: 1px solid #dee2e6!important;
}

.listCV tbody tr.viewed {
    background-color: rgba(0,0,0,.05);
}

#mainContent {
    padding: 24px;
    background-color: #f1f4f6;
}
.avinput [type="checkbox"]:checked,
.avinput [type="checkbox"]:not(:checked),
.avinput [type="radio"]:checked,
.avinput [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.avinput [type="checkbox"]:checked + label,
.avinput [type="checkbox"]:not(:checked) + label,
.avinput [type="radio"]:checked + label,
.avinput [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

.avinput [type="checkbox"]:checked + label:before,
.avinput [type="checkbox"]:not(:checked) + label:before,
.avinput [type="radio"]:checked + label:before,
.avinput [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1.5px solid #014886;
    border-radius: 100%;
    background: #fff;
}

.avinput [type="checkbox"]:checked + label:before,
.avinput [type="checkbox"]:not(:checked) + label:before{
    border-radius: 0px!important;
}

.avinput [type="checkbox"]:checked + label:after,
.avinput [type="checkbox"]:not(:checked) + label:after,
.avinput [type="radio"]:checked + label:after,
.avinput [type="radio"]:not(:checked) + label:after {
    content: '\f00c';
    font-family: FontAwesome;
    width: 12px;
    height: 12px;
    color: #014886;
    position: absolute;
    top: -1px;
    left: 2px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.avinput [type="checkbox"]:checked + label:after,
.avinput [type="checkbox"]:not(:checked) + label:after{
    border-radius: 0px!important;
}

.avinput [type="checkbox"]:not(:checked) + label:after,
.avinput [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.avinput [type="checkbox"]:checked + label:after,
.avinput [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.action {
    font-size: 14px;
    font-weight: bold;
    display: inline-flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    padding: 0px;
    color: #fff;
    border: none;

}

.action:hover {
    cursor: pointer!important;
}

.action.action--primary {
    background-color: #f5f5f5;
    color: #333;
}
.action.action--danger {
    background-color: #ea2e63;
    color: #fff!important;
}

.action.action--warning {
    background-color: #f0ac4e;
    color: #fff;
}

.avswitch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.avswitch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.avswitch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.avswitch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.avswitch input:checked + .slider {
    background-color: #2196F3;
}

.avswitch input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.avswitch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.avswitch .slider.round {
border-radius: 34px;
}

.avswitch .slider.round:before {
    border-radius: 50%;
}

.avswitch-md {
    width: 47px;
    height: 27px;
}

.avswitch-md .slider:before {
    height: 20px;
    width: 20px;
}

.avswitch-md input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);   
}
.avbtn__submit {
    text-align: left;
    margin-top: 24px;
}
.avbtn__submit:hover{
    cursor: pointer;
}
.avbtn__submit.avbtn__submit--cancel {
    background-color: #fff;
    border: 1px solid #ccc;
    color: 3372e8;
    border-radius: 4px;
    font-weight: bold;
    height: 30px;
    padding: 0px 15px;
}

.avbtn__submit.avbtn__submit--save {
    border-radius: 4px;
    border: none;
    background-color: #3372e8;
    color: #fff;
    font-weight: bold;
    height: 30px;
    padding: 0px 15px;
}

.avupload:hover{
    cursor: pointer;
}

.avupload {
    border: 2px dashed #2196F3;
    width: 100%;
    min-height: 150px;
    display: flex;
    align-items: center;
    padding: 8px;
    justify-content: center;
}
.avupload__plus {
    color: #2196F3;
    font-size: 30px;
    font-weight: bold;
}
.avupload__triggle {
    display: block
}
.avcollapse__header:hover{
    cursor: pointer;
}

.avcollapse__body {
    padding: 15px;
    /*border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;*/
   /* border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-*/left: 1px solid #cccccc;
}

.avcollapse__header {
    padding: 15px;
   /* border-top-left-radius: 10px;
    border-top-right-radius: 10px;*/
    border-bottom: 1px solid #cccc;
    font-weight: 700;
    font-size: 18px;
}

.card {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  border-width: 0;
  transition: all .2s
}

#loader {
    transition: all .3s ease-in-out;
    opacity: 1;
    visibility: visible;
    position: fixed;
    height: 100vh;
    width: 100%;
    background: #fff;
    z-index: 90000
}

#loader.fadeOut {
    opacity: 0;
    visibility: hidden
}

.spinner {
    width: 40px;
    height: 40px;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1s infinite ease-in-out;
    animation: sk-scaleout 1s infinite ease-in-out
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 0
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}